*.bak
*.bck
*.kicad_pcb-bak
*.kicad_pcb-bck
*.kicad_pcb~*
*.kicad_pcb#
*.kicad_pcb.swp
*.pro.user
*.sch-bak
*.sch-bck
*.sch~*
*.sch#
*.sch.swp
ts52k-backups/*
jlcpcb/assembly/*
jlcpcb/gerber/*
ts52k-rescue.*
fp-info-cache
**/.DS_Store
